@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

h4 {
  font-family: "IM Fell Double Pica", serif;

}

p, span {
  font-family: "PT Sans", sans-serif;
}

.p-dialog-content {
  padding: 0;
  background-color: #151515;
}

.p-dialog-header {
  background-color: #151515;
  color: white; /* Измените цвет текста при необходимости */
}

@media (max-width: 1260px) {
  .hide-between-md-lg {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1060px) {
  .large-header-info {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 796px) {
  .small-between-md-lg {
    font-size: 15px;
  }
}