@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

h4 {
  font-family: "IM Fell Double Pica", serif;

}

p, span {
  font-family: "PT Sans", sans-serif;
}

.p-dialog-content {
  padding: 0;
  background-color: #151515;
}

.p-dialog-header {
  background-color: #151515;
  color: white;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background: #1e1e1e;
  color: white;
  border-color: gray;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: #1e1e1e;
  color: white;
  border: none;
}

.p-accordion .p-accordion-content  {
  background: #151515;
  border: none;
  border-radius: 0;
  outline-color: #6a7282;
}

.p-inputtext {
  display: none;
}

.p-button {
  background: #393939;
  border: none;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month, .p-datepicker-year {
  color: white;
}

.p-datepicker .p-datepicker-header {
  border-bottom: 1px solid gray;
}

.p-datepicker-header, .p-datepicker:not(.p-datepicker-inline) {
  background: #393939;
  color: white;
}

.p-button:hover {
  background: #1e1e1e;
}

.p-button:focus {
  box-shadow: none;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  box-shadow: none;
}

@media (max-width: 1260px) {
  .hide-between-md-lg {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1060px) {
  .large-header-info {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 796px) {
  .small-between-md-lg {
    font-size: 15px;
  }
}